{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Add Car</h2>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data" class="form-inline row">
        {% csrf_token %}
        <div class="form-group col-md-6 mb-3">
          <label for="brand_model_name" class="sr-only">Brand Model Name</label>
          {{ form.brand_model_name }}
        </div>
        <div class="form-group col-md-6 mb-3">
          <label for="{{ form.year.id }}" class="sr-only">Year</label>
          {{ form.year }}
        </div>
        <div class="form-group col-md-6 mb-3">
          <label for="price" class="sr-only">Price</label>
          {{ form.price }}
        </div>
        <div class="form-group col-md-12 mb-3">
          <label for="id_description" class="sr-only">Description</label>
          {{ form.description }}
        </div>
        <div class="form-group col-md-4 mb-3">
          <label for="petrol_type" class="sr-only">Petrol Type</label>
          {{ form.petrol_type }}
        </div>
        <div class="form-group col-md-4 mb-3">
          <label for="car_type" class="sr-only">Car Type</label>
          {{ form.car_type }}
        </div>
        <div class="form-group col-md-4 mb-3">
          <label for="gear_type" class="sr-only">Gear Type</label>
          {{ form.gear_type }}
        </div>
        <div class="form-group col-md-12 mb-3">
          <label for="images" class="sr-only">Images</label>
          {{ form.images }}
        </div>
        <div class="form-group col-md-12">
          <button type="submit" class="btn btn-primary">Add Car</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
