{% load compress %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}" />
    {% endcompress %}
    <title>{% block title %}Your Website{% endblock %}</title>
  </head>
  <body>
    <header class="flex flex-1 justify-around">
      <input type="text" placeholder="Search..">
      <nav>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Login</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
