{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h1 class="font-weight-bold text-center mb-4">Used Cars for Sale</h1>
    <p class="bg-dark text-light p-4 rounded shadow-sm">
      Discover a wide selection of used cars from various brands available for purchase, either through auction or at a fixed price. While many of these cars are in excellent condition, some may require minor repairs. Each vehicle has been thoroughly tested, with the results detailed in the respective advertisement.
    </p>
    <section class="container mt-4">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for car in cars %}
          <div class="col">
            {% include 'card.html' with car=car %}
          </div>
        {% endfor %}
      </div>
    </section>
  </div>

  <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% for key, value in params.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page=1">&laquo; first</a>
            <a href="?{% for key, value in params.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% for key, value in params.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.next_page_number }}">next</a>
            <a href="?{% for key, value in params.items %}{% if key != 'page' %}{{ key }}={{ value }}&{% endif %}{% endfor %}page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
  </div>

{% endblock %}
